
body{
    margin: 0 !important;
}
@mixin dFlex($jc:center, $ai:center, $g:0px){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap:$g;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
